.parent{
	padding: 3em;
	background-color: whitesmoke;
}

.navbar{
	padding-bottom: 0.5em;
}

.menu_item{
	color: #4d004d;
	padding-right: 0.5em;
    margin-right: 0.75em;
}

body{
	background-color: #e0e0eb;
}

.about-me{
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	padding-top: 2em;
}

.banner-image{
	width:100%;
    height: auto;
	max-height: 20em;
	padding-bottom: 2em;
}

.welcome{
	font-family: fantasy;
	font-size: xx-large;
	color:#4d004d;
}
